.designerSection {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  padding: 1rem;
}

.designerSection p {
  padding-bottom: 2rem;
  line-height: 2rem;
}

.imageSection {
  height: auto;
  display: flex;
  width: 100%;
  gap: 1rem; 
  justify-content: space-between;
  /* margin-bottom: 1.5rem */
  /* border: 2px solid red; */
}

.imageSection img {
  /* width: clamp(5rem, 29vw, 30rem); */
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover; 
  /* flex: 1 1 1; */
}

@media (min-width: 768px) {
  .designerSection {
    width: 100%
  }

  

  .imageSection img {
    width: clamp(3rem, 100%, 25rem);
  }
}