.designersMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1rem;

  margin-bottom: 3rem;
}

.designersMain h1 {
  padding-block: 1rem;
  text-align: center;
}

.designersContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

}


@media (min-width: 768px) {
  .designersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .designersMain h1 {
  padding-left: 3rem
}
}

/* ............ Desktops ................*/
@media (min-width: 1025px) {
    .designersMain {
    max-width:80rem;
    margin-inline: auto;
    /* background-color: red; */
  }

}

/*............ Large Desktops ................*/
@media (min-width: 2550px) {
    .designersMain {
    max-width:100rem;
    margin-inline: auto;
  }

}