* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
 
}

body{
  height: 100%;
  display:flex;
  flex-direction: column;

}
main {
 /* margin-top: 0rem; */
 display:flex;
 flex-direction: column;
 /* align-items: center; */
 /* background-color: var(--secondColor1); */
}

a{
  color: var(--fontColorDark);
  text-decoration: none;
  /* font-family: var(--textFont); */
}

a:hover{
  text-decoration: underline;
}


.dark{
   color: var(--fontColorDark);
}

.light {
  color: var(--fontColorLight);

}

.text-center{
   /* align-items: center; */
}

.margin-btm{
  padding-bottom:1rem;
}

h1 {
  font-size: 2rem;
  font-family: var(--h1);
  margin: 15px 0px 10px;
  font-weight: 600;
  text-align: center;
}

h2{
  font-size: 1.5rem;
  font-family: var(--h2);
  color: var(--fontColorDark);
  padding-bottom: 1rem;
  margin: 0 0 .5em 0;
  padding-top: 0.5px;
  font-weight: 500;
  text-align: center;

}

p {
  font-family: var(--textFont);
  font-size: 1.13rem;
  /* padding-bottom: 1rem; */
  margin: 0px 0px 18px;
  line-height: 1.55rem;
  text-align: center;
  line-height: 1.7;
}

p:last-child{
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  h1 {
  font-size: 2.36rem;
  }

}

/* ............ Desktops ................*/
@media (min-width: 1025px) {
  h1 {
    font-size: 3.25rem;
  }
  h2{ 
    font-size: 2rem;
  }


}