.heroImgContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  display: flex;
}

.heroImgMob {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: 50% 48%;
  display: block;
  /* filter: blur(1px) brightness(1.2); */
}

.heroImgContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(143, 204, 143, 0) 0%, rgba(236, 236, 213, 0.6) 80%);
  pointer-events: none;
  /* makes it click-through */
}



.heroImgDesktop {
  width: 100%;
  display: none;
}

.heroBtn {
  position: absolute;

  bottom: 1.5rem;
  left: 1.5rem;
  padding: 4px 15px;
  border: 2px solid var(--accentColor4);
  border-radius: 50px;
  background-color: transparent;
  color: var(--accentColor4);
  font-weight: 600;
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.6),
    0 0 15px rgba(255, 255, 255, 0.3);
  z-index: 3;


}

/* .heroContainer {
  width:90%;
  background-color: var(--accentColor4);
  color: var(--fontColorLight);
  border-radius: var(--borderRad);
  margin-block: 1rem
}
.heroContainer h2 {
  color: var(--fontColorLight);
}
.heroContainer p {
  margin-block: 1rem;
} */



@media (min-width: 768px) {
  .heroImgMob {
    display: none
  }

  .heroImgDesktop {
    display: none
  }


  .heroImgContainer {
    height: 550px;
  }

  /* .heroImgMob {
  width: 100vw;
  height: 100%;
  object-fit: cover;    
  object-position: 50% 50%; 
  display: block;
} */



}