.map-container {
  width: 80%;
  height: 30rem; 
  /* border: 1px solid var(--mainColor); */
  border-radius: var(--borderRad);
  margin-inline: auto;
}

.homeMain {
 padding: 2rem

}
.homeMain h1{ 
 text-align: center;
}

.homeMain h2 {
   text-align: center;
}
.homeMain p{
  padding-inline:2rem;
  line-height: 1.7;
   text-align: center;
}

.Åpningsider{
  padding-block: 3rem
}
.Åpningsider h2{
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.locationPic{
  width: 100%;
  
}

@media (min-width: 768px) {
  .homeMain h1 {
    padding: 3rem;
  }

    .homeMain h2 {
    padding: 2rem;
  }

  .map-container {
    width: 50%;
    height: 40rem;
    aspect-ratio: 1 / 1;
  }
}