.hoursContainer {
  width: 90%;
  background-color: var(--accentColor3);
  color: var(--fontColorLight);
  border-radius: var(--borderRad);
  margin-block: 1rem;
  padding: 1rem;
}

.heroContainer h2 {
  color: var(--fontColorLight);
}

.heroContainer p {
  /* margin-block: 1rem; */
  color: var(--fontColorLight);
}


@media (min-width: 768px) {
  .hoursContainer {
    width: 50%;
    margin-block: 5rem;
    padding-bottom: 3rem
  }
}